<h1>People</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>National Insurance Number</th>
    <th></th>
  </tr>
  <%@people.each do |person|%>
    <tr>
      <td><%=link_to person.name, person_path(person) %></td>
      <td><%=person.nin%></td>
      <td>
        <%=link_to "", edit_person_path(person), class: "glyphicon glyphicon-edit"%>
        <%=link_to "", person_path(person), method: :delete, class: "glyphicon glyphicon-trash", data: { confirm: "Are you sure?" }%>
      </td>
    </tr>
  <%end%>
</table>
<%=link_to "Add a person", new_person_path, class: "btn btn-primary"%>
