<h1>Available Houses</h1>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Post Code</th>
    <th></th>
  </tr>
  <%@houses.each do |house|%>
    <tr>
      <td><%=link_to house.title, "#"%></td>
      <td><%=house.address%></td>
      <td><%=house.postcode%></td>
      <td><%=link_to "", edit_house_path(house), class: "glyphicon glyphicon-edit"%></td>
    </tr>
  <%end%>
</table>
<%=link_to "Add a house", new_house_path, class: "btn btn-primary"%>
