<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>View House</h1>
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <td><%=@house.title%></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%=@house.description%></td>
        </tr>
        <tr>
          <th>Address</th>
          <td><span class="glyphicon glyphicon-home"></span> <%=@house.address%></td>
        </tr>
        <tr>
          <th>Postcode</th>
          <td><span class="glyphicon glyphicon-envelope"></span> <%=@house.postcode%></td>
        </tr>
        <tr>
          <th>Supplier</th>
          <td><span class="glyphicon glyphicon-envelope"></span> <%=@house.supplier%></td>
        </tr>
        <%unless @house.tenant.nil? %>
          <tr>
            <th>Tenant</th>
            <td><span class="glyphicon glyphicon-user"></span> <%=link_to @house.tenant.name, person_path(@house.tenant) %></td>
          </tr>
        <%else%>
          <tr>
            <th colspan="2"><%=link_to "Assign a tenant", assign_house_path(@house), class: "btn btn-primary"%></th>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>
